body {
    background-color: #FBFBFC;
    margin: 0;
    font: 400 18px/28px;
    font-family: "Inter", sans-serif;

}

.conteiner {
    /* width: 1440px; */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 42px;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 21;
    }
}

@media screen and (max-width: 700px) {
    .header {
        flex-wrap: wrap;
    }
}


.header_box {
    display: flex;
    gap: 68px;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .header_box {
        gap: 34px;
    }
}



.nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .nav_list {
        gap: 24px;

    }
}

@media screen and (max-width: 700px) {
    .nav_list {
        font-size: 22px;
    }
}


.link {
    color: #19191C;
    text-decoration: none;
}

.btn_box {
    display: flex;
    gap: 46px;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .btn_box {
        gap: 23px;
    }
}

.logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    display: flex;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .logo {
        gap: 7px;
        font-size: 16px;
    }

}

.header_link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .header_link {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .header_link {
        font-size: 26px;
    }
}


.header_btn {
    background-color: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .header_btn {
        padding: 6px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .header_btn {
        font-size: 24px;
    }

}

/*-----------------------------main------------------------------*/

/*-----------offer---------------*/

.offer {
    display: flex;
    justify-content: space-between;
    background: url(../images/woman.png) 130% 100% no-repeat;
    padding-top: 167px;
    padding-bottom: 195px;
}

@media screen and (max-width: 1024px) {
    .offer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 700px) {
    .offer {
        flex-direction: column;
    }
}

.offer_holder {
    /* width: 648px; */
    max-width: 648px;

}


.offer__months {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .offer__months {
        font-size: 14px;
    }
}

.offer__profession {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #19191C;
    margin-top: 40px;
    margin-bottom: 2px;
}

@media screen and (max-width: 1024px) {
    .offer__profession {
        font-size: 14px;
        margin-top: 20px;
    }
}

.offer__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #19191C;
    margin-top: 0;
    margin-bottom: 48px;
}


@media screen and (max-width: 1024px) {
    .offer__title {
        font-size: 29px;
        margin-bottom: 24px;
    }
}

.offer__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #19191C;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .offer__description {
        font-size: 14px;
    }
}

.button {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;
    background-color: #504DEE;
    padding: 16px 37px;
    margin-bottom: 0;
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    .button {
        font-size: 14px;
        margin-top: 25px;
        padding: 8px 18px;
    }
}

.offer__sale {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    color: #19191C;
    margin-bottom: 8px;
    margin-top: 110px;
}

@media screen and (max-width: 1024px) {
    .offer__sale {
        font-size: 27px;
        margin-top: 55px;
    }
}

.offer__time {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .offer__time {
        font-size: 14px;
    }
}

.offer__list {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
    position: relative;
}

@media screen and (max-width: 1440px) {
    .offer__list {
        position: static;
        display: block;
    }
}

.offer_item {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
    border: 2px solid #19191C;
    padding: 16px 36px;
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .offer_item {
        font-size: 14px;
        padding: 8px 18px;
        position: static;
    }
}

.offer_illustrator {
    top: 600px;
    left: -50px;
}

.offer_figma {
    top: 400px;
    left: -75px;
}

.offer_photoshop {
    top: 225px;
    left: 75px;
}

.offer_miro {
    top: 85px;
    left: 110px;
}

.offer_protoPie {
    top: 0px;
    left: 400px;
}

.offer_inVision {
    top: 100px;
    left: 600px;
}

/*------------desihn--------------*/
.profession {
    background-color: #FBFBFC;
}

.profession_design {
    display: flex;
    justify-content: space-between;
    padding-top: 168px;
    padding-bottom: 168px;
}

@media screen and (max-width: 1024px) {
    .profession_design {
        padding-top: 84px;
        padding-bottom: 84px;
    }
}

@media screen and (max-width: 700px) {
    .profession_design {
        flex-direction: column;
    }
}

.profession_design p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #19191C;

}

.profession_Salary_description {
    border-bottom: 4px solid black;
    max-width: 254px;
}

.profession_vacancies_description {
    border-bottom: 4px solid black;
}

.profession_design_text {
    max-width: 588px;
}

.profession_design_salary {
    max-width: 354px;
}

.profession_design_vacancies {
    max-width: 254px;
}

.profession_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    color: #19191C;
}

@media screen and (max-width: 1024px) {
    .profession_title {
        font-size: 29px;
    }

}

.profession_Salary_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    color: #19191C;
}

@media screen and (max-width: 1024px) {
    .profession_Salary_title {
        font-size: 29px;
    }

}

.profession_vacancies_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    color: #19191C;
}

@media screen and (max-width: 1024px) {
    .profession_vacancies_title {
        font-size: 29px;
    }

}

.profession_carts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .profession_carts {
        gap: 10px;
    }
}

@media screen and (max-width: 700px) {
    .profession_carts {
        flex-direction: column;
    }
}

.profession_carts_items {
    border-bottom: 4px solid black;
}

.profession_carts p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #19191C;
}

.profession_carts_portfolio {
    max-width: 467px;
    padding: 68px 51px 68px 48px;
}

@media screen and (max-width: 1024px) {
    .profession_carts_portfolio {
        padding: 34px 25px 34px 24px;
    }
}

.profession_carts_internship {
    max-width: 466px;
    padding: 68px 50px 68px 48px;
}

@media screen and (max-width: 1024px) {
    .profession_carts_internship {
        padding: 34px 25px 34px 24px;
    }
}

.profession_carts_certificate {
    max-width: 467px;
    padding: 68px 51px 68px 48px;
}

@media screen and (max-width: 1024px) {
    .profession_carts_certificate {
        padding: 34px 25px 34px 24px;
    }
}

.profession_carts_portfolio {
    background: url("../images/Portfolio.jpg");
}

.profession_carts_internship {
    background: url("../images/Internship.jpg");
}

.profession_carts_certificate {
    background: url("../images/Certificate.jpg");
}

/*---------------------discover--------------------*/


.discover {
    padding-top: 171px;
    padding-bottom: 168px;
}

@media screen and (max-width: 1024px) {
    .discover {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

.discover_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    color: #19191C;
    margin: 0;

}

@media screen and (max-width: 1024px) {
    .discover_title {
        font-size: 29px;
    }
}


.discover_flax {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

@media screen and (max-width: 1024px) {
    .discover_flax {
        gap: 10px;
    }
}

@media screen and (max-width: 700px) {
    .discover_flax {
        flex-direction: column;
    }
}

.discover_article_title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

@media screen and (max-width: 1024px) {
    .discover_article_title {
        font-size: 17px;
    }
}

.discover_article_list {
    list-style: square;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.discover_article_base {
    background: url("../images/base.jpg");
    max-width: 467px;
    padding: 48px 59px 51px 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .discover_article_base {
        padding: 24px 30px 25px 33px;
    }
}

.discover_article_optimal {
    background: url("../images/optimal.jpg");
    max-width: 466px;
    padding: 48px 51px 51px 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .discover_article_optimal {
        padding: 24px 30px 25px 33px;
    }
}

.link_optimal {
    text-decoration: none;
    color: #19191C;
}

.divtwo_prices {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #6D6D77;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .divtwo_prices {
        font-size: 14px;
    }
}

.div_two_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    margin: 3px 0 18px 0;
}

@media screen and (max-width: 1024px) {
    .div_two_title {
        font-size: 29px;
    }
}

.optimal_color {
    color: #FBFBFC;
}

.discover_article_premium {
    background: url("../images/premium.jpg");
    max-width: 467px;
    padding: 45px 38px 51px 69px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .discover_article_premium {
        padding: 24px 30px 25px 33px;
    }
}

.divtwo_button {
    padding: 16px 36px 16px 36px;
    background-color: #19191C;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #FBFBFC;
}

@media screen and (max-width: 1024px) {
    .divtwo_button {
        font-size: 14px;
        padding: 8px 18px 13px 16px;
    }
}

.optimal_color_button {
    background-color: #FBFBFC;
    color: #504DEE;
}

/*----------------------footer---------------------*/

.footer {
    background-color: #19191C;
    text-align: center;
    padding: 59px 0 62px 0;
}


@media screen and (max-width: 1024px) {
    .footer {
        padding: 30px 0 30px 0;
    }

}

.link_footer {
    color: #FBFBFC;
    text-decoration: none;
}

.link_footer_a {
    color: #6D6D77;
    text-decoration: none;
}

.sitemap {

    text-align: left;
}

.footer li {
    list-style: none;
    padding-top: 12px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .flex {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.logo_footer {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .logo_footer {
        gap: 3px;
        font-size: 14px;
    }
}

.logo_footer_mail {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FBFBFC;
    text-decoration: none;
    padding: 48px 0 28px 0;
}

@media screen and (max-width: 1024px) {
    .logo_footer_mail {
        padding: 24px 0 14px 0;
        font-size: 14px;
    }
}

.logo_footer_tel {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FBFBFC;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .logo_footer_tel {

        font-size: 14px;
    }
}

.sitemap_title {
    margin: 0;
    padding-top: 9px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;
    text-decoration: none;

}

.sitemap_list {
    padding-left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FBFBFC;
    text-decoration: none;
}

.copyright {
    padding-top: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6D6D77;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .copyright {
        padding-top: 50px;
        font-size: 14px;
    }
}